/* header */
.header{width: 100%;height: 50px;padding: 0 10px;padding-right: 30px;background: #d6d6d6;box-sizing: border-box;}
.header .header_inner{text-align:right;}
.header .btn{display:inline-block;height: 30px;color: #fff;background: #003263;text-align:center;text-decoration:none;line-height: 28px;font-weight: 400;margin-top: 10px;border: 1px solid #14428d;padding: 0 15px;}

/* container */
.container{width:100%;height:100%;min-height:717px;padding:10px;box-sizing:border-box;background:#f1f1f1;}
.container_inner{padding:20px;box-sizing:border-box;background:#fff;}


/* table */
.table_wrap{width:100%;border-top:1px solid #003263;}
.board_top{width:100%;}
.board_top::after{content:'';display:block;clear:both;}
.board_top p span{color:#ff0000;font-weight:500;}
.board_search{width:100%;padding:10px;box-sizing:border-box;margin-bottom:10px;background:#f4f4f4;border:1px solid #ccc;}
.board_search::after{content:'';display:block;clear:both;}
.board_search .board_search_inner{float:right;}
.board_search .board_search_inner::after{content:'';display:block;clear:both;}
.board_search .board_search_inner > div{float:left;margin-right:10px;}
.board_search .board_search_inner > div:last-child{margin-right:0;}
.board_search .board_search_inner .calendar_wrap ul::after{content:'';display:block;clear:both;}
.board_search .board_search_inner .calendar_wrap ul li{float:left;}
.board_search .board_search_inner .calendar_wrap ul li.wave{margin:0 10px;line-height:33px;}
.board_search .board_search_inner .calendar_wrap ul li input[type="text"]{width:100px;margin-right:0px;}
.board_search .board_search_inner .search input[type="text"]{width:200px;margin-right:0px;}
.board_search .board_search_inner .search .btn_search{display:inline-block;margin-right:0;padding:6px 10px 7px 35px;box-sizing:border-box;background:#003263 url(../images/btn_search.png) left 10px center no-repeat;background-size:20px;font-size:14px;color:#fff;}

.table_wrap table{width:100%;}
.table_wrap tr{border-bottom:1px solid #ddd;}
.table_wrap thead th{padding:8px 10px;box-sizing:border-box;background:#e7e9ef;text-align:center;}
.table_wrap tbody th{padding:8px 10px;box-sizing:border-box;background:#e7e9ef;}
.table_wrap tbody td{padding:8px 10px;box-sizing:border-box;text-align:center;}
.table_wrap .subject{text-align:left;}
.table_wrap .subject::after{content:'';display:block;clear:both;}
.table_wrap .subject a{float:left;width:calc(100% - 0px);}
.table_wrap .subject .tit_icon{position: relative;float:left;margin-left:10px;line-height:21px;}
.table_wrap .subject .tit_icon span{vertical-align:middle;}
.table_wrap .subject .tit_icon .i_new{display:inline-block;width:15px;height:15px;text-indent:-9999px;background:url(../images/icon_new.png) center no-repeat;}
.table_wrap .subject .tit_icon .i_reply{}
.table_wrap .subject .tit_icon .i_file{display:inline-block;width:15px;height:15px;text-indent:-9999px;background:url(../images/icon_file.png) center no-repeat;background-size:13px;}
.table_wrap .subject .tit_icon .i_secret{display:inline-block;width:15px;height:15px;margin-left: 5px;text-indent:-9999px;background:url(../images/icon_secret.png) center center no-repeat;}

.table_wrap.view td{text-align:left;}

.table_wrap.write td{text-align:left;}
.table_wrap.write .id input{border:none;}
.table_wrap.write .id input:focus {outline:none;}
.table_wrap.write .calendar_Wrap input[type="text"]{width:100px;}
.table_wrap.write .file_wrap{}
.table_wrap.write .txt_point_01{color:#fd951b;}
.table_wrap.write .file_txt{}
.table_wrap.write .file_txt p{margin-bottom:10px;}
.table_wrap.write .file_txt form select{width:100%;height:100px;overflow-y:auto;border:1px solid #ddd;padding:10px;box-sizing:border-box}
.table_wrap.write .file_txt form select option{display:block;max-width:97%;overflow:hidden;padding:2px 5px;white-space:nowrap;text-overflow:ellipsis;}
.table_wrap.write .file_attach{margin-top:10px;text-align:right;}
.table_wrap.write .file_attach:after{content:'';display:block;clear:both;}
.table_wrap.write .file_attach #in_file_01{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.table_wrap.write .file_attach .btn_file{display:inline-block;min-width:80px;padding:0 15px;height:35px;line-height:33px;box-sizing:border-box;font-weight:400;background:#fff;border:1px solid #062f6e;color:#062f6e;cursor:pointer;}



.table_wrap.prevNextList{border-top:1px solid #ddd;margin:20px 0;}
.table_wrap.prevNextList .prev{background:#e7e9ef url(../images/icon_boardprev.png) right 10px center no-repeat;}
.table_wrap.prevNextList .next{background:#e7e9ef url(../images/icon_boardnext.png) right 10px center no-repeat;}
.table_wrap.prevNextList td{text-align:left;}


/* btn */
.btn_wrap{margin:20px 0;}
.btn_wrap:after{content:'';display:block;clear:both;}
.box_center{text-align:center;}
.box_right{float:right;}
.box_left{float:left;}
.box_right .btn,.box_center .btn{margin-left:5px;}
.box_left .btn{margin-right:5px;}

.btn{display:inline-block;min-width:80px;padding:0 15px;height:35px;line-height:33px;box-sizing:border-box;text-align:center !important;font-weight:400;}
.btn_basic{background:#fff;border:1px solid #333;color:#333;}
.btn_point{background:#003263;border:1px solid #003263;color:#fff;}
.btn_line{background:#fff;border:1px solid #062f6e;color:#062f6e;}
.btn_gray{background:#f3f3f3;border:1px solid #e6e6e6;color:#333;}
.btn_pdf{display:block;width:120px; margin:40px auto;}




/* paging */
.paging{text-align:center;margin-top:40px;}
.paging a{display:inline-block;min-width: 26px;height:26px;padding: 0 5px;color:#777;line-height:26px;box-sizing:border-box;}
.paging .page{border:1px solid #eee;text-indent:-9999px;}
.paging .prev_02{background:url(../images/paging_prev_02.png) center center no-repeat;}
.paging .prev_01{background:url(../images/paging_prev_01.png) center center no-repeat;}
.paging .next_02{background:url(../images/paging_next_02.png) center center no-repeat;}
.paging .next_01{background:url(../images/paging_next_01.png) center center no-repeat;}
.paging .paging_click{color:#fff;background:#003263;font-weight:400;}

.paging a:hover{color:#fff;background:#003263;}
.paging .prev_02:hover{border:1px solid #333;background:#003263 url(../images/paging_prev_02_on.png) center center no-repeat;}
.paging .prev_01:hover{border:1px solid #333;background:#003263 url(../images/paging_prev_01_on.png) center center no-repeat;}
.paging .next_02:hover{border:1px solid #333;background:#003263 url(../images/paging_next_02_on.png) center center no-repeat;}
.paging .next_01:hover{border:1px solid #333;background:#003263 url(../images/paging_next_01_on.png) center center no-repeat;}



/* Mobile */
@media (max-width:425px){
.pc{display:none;}
.remove{display:none;}

.board_search .board_search_inner{float:none;}
.board_search .board_search_inner > div{float:none;margin-right:0;margin-bottom:10px;}
.board_search .board_search_inner > div:last-child{margin-bottom:0;}
.board_search .board_search_inner .select_wrap select{width:100%;}
.board_search .board_search_inner .search input[type="text"]{width:calc(100% - 80px);}

.table_wrap .subject .tit_icon{line-height:17px;}
.table_wrap.view tbody{display:block;}
.table_wrap.view tbody tr{display:block;}
.table_wrap.view tbody tr th{display:block;width:100%;}
.table_wrap.view tbody tr td{display:block;width:100%;}
.table_wrap.write tbody{display:block;}
.table_wrap.write tbody tr{display:block;}
.table_wrap.write tbody tr th{display:block;width:100%;}
.table_wrap.write tbody tr td{display:block;width:100%;text-align:center;}

.box_right{float:none;text-align:center;}
.box_right .btn{width:47%;}
.box_right .btn:nth-child(1), .box_right .btn:nth-child(2){margin-bottom:7px;}


}


/* Mobile */
@media (min-width:426px) and (max-width:768px){
.pc{display:none;}
.remove{display:none;}

.board_search .board_search_inner{float:none;}
.board_search .board_search_inner > div{float:none;margin-right:0;margin-bottom:10px;}
.board_search .board_search_inner > div:last-child{margin-bottom:0;}
.board_search .board_search_inner .select_wrap select{width:100%;}
.board_search .board_search_inner .search input[type="text"]{width:calc(100% - 80px);}

.table_wrap .subject .tit_icon{line-height:17px;}
.table_wrap.view tbody{display:block;}
.table_wrap.view tbody tr{display:block;}
.table_wrap.view tbody tr th{display:block;width:100%;}
.table_wrap.view tbody tr td{display:block;width:100%;}
.table_wrap.write tbody{display:block;}
.table_wrap.write tbody tr{display:block;}
.table_wrap.write tbody tr th{display:block;width:100%;}
.table_wrap.write tbody tr td{display:block;width:100%;text-align:center;}


}

/* Tablet */
@media (min-width:769px) and (max-width:1079px){
.mobile{display:none;}
}

/* Mobile & Tablet */
@media (max-width:1079px){

}

/* PC */
@media (min-width:1080px){
.mobile{display:none;}
}