<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.bit.juniver.model.dao.QnAMapper">
	<select id='getList' resultType="com.bit.juniver.model.dto.QnABean">
		select qno, member_Id, qtitle, qdate from qna order by qno desc
	</select>
	
	<select id="qnaView" resultType="com.bit.juniver.model.dto.QnABean">
		select qno, member_Id, qtitle, qcontents, qattachments, email, qdate from qna where qno=#{qNo}
	</select>
	
	<select id="qnaWrite" resultType="com.bit.juniver.model.dto.QnABean">
		insert into qna(qno,member_Id, qtitle, qcontents, qattachments, email ) values(Q_A_SEQ.nextval, #{member_Id}, #{qTitle}, #{qContents}, #{qAttachments},#{email})
	</select>
	
	<select id="qnaUpdate" resultType="com.bit.juniver.model.dto.QnABean">
		update qna set qtitle=#{qTitle}, qcontents=#{qContents}, qattachments=#{qAttachments}, email=#{email} where qno=#{qNo}
	</select>
	
	<select id="qndDelete" resultType="com.bit.juniver.model.dto.QnABean">
		delete from qna where qno=#{qNo}
	</select>
</mapper>