<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bit.miniboard.model.dao.MemberMapper">
	
	<select id="allList" resultType="MemberBean">
		select * from member
	</select>
	
	<select id="getMemberInfo" parameterType="MemberBean" resultType="MemberBean">
		select * from member where nickname=#{nickName} and password=#{password}
	
	</select>
</mapper>
