<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.bit.juniver.model.dao.LoginMapper">
   
   <select id="findByUserIdAndPassword"   parameterType="map" resultType="com.bit.juniver.model.vo.MemberBean">
     select id, password, name from member where id=#{id} and password=#{password}
   </select>
     <select id="findByUserId"    resultType="com.bit.juniver.model.vo.MemberBean">
     select id, password, name from member where id=#{id} 
   </select>
</mapper>