<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0513HW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Join</servlet-name>
  <jsp-file>/member Join.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Join</servlet-name>
  <url-pattern>/Join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberRegisterServlet</display-name>
    <servlet-name>MemberRegisterServlet</servlet-name>
    <servlet-class>MemberRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRegisterServlet</servlet-name>
    <url-pattern>/memberRegist</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Welcome</servlet-name>
  <jsp-file>/WelcomeMember.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Welcome</servlet-name>
  <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
</web-app>