<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>boardProject</display-name>
  <welcome-file-list>
 	<welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>member.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/is.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>member.controller.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/lc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BWriteServlet</display-name>
    <servlet-name>BWriteServlet</servlet-name>
    <servlet-class>board.controller.BWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BWriteServlet</servlet-name>
    <url-pattern>/bw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BListServlet</display-name>
    <servlet-name>BListServlet</servlet-name>
    <servlet-class>board.controller.BListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BListServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BViewServlet</display-name>
    <servlet-name>BViewServlet</servlet-name>
    <servlet-class>board.controller.BViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BViewServlet</servlet-name>
    <url-pattern>/bv.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSession</display-name>
    <servlet-name>LoginSession</servlet-name>
    <servlet-class>member.controller.LoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSession</servlet-name>
    <url-pattern>/LoginSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutSession</display-name>
    <servlet-name>LogoutSession</servlet-name>
    <servlet-class>member.controller.LogoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSession</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pagingservlet</display-name>
    <servlet-name>Pagingservlet</servlet-name>
    <servlet-class>paging.Pagingservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagingservlet</servlet-name>
    <url-pattern>/Pagingservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>board.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Up.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BdeleteServlet</display-name>
    <servlet-name>BdeleteServlet</servlet-name>
    <servlet-class>board.controller.BdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BdeleteServlet</servlet-name>
    <url-pattern>/bd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BReplyServlet</display-name>
    <servlet-name>BReplyServlet</servlet-name>
    <servlet-class>board.controller.BReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BReplyServlet</servlet-name>
    <url-pattern>/reply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BReplyViewServlet</display-name>
    <servlet-name>BReplyViewServlet</servlet-name>
    <servlet-class>board.controller.BReplyViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BReplyViewServlet</servlet-name>
    <url-pattern>/reply_view.do</url-pattern>
  </servlet-mapping>
</web-app>