<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ScopeTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>scope.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/ts.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet2</display-name>
    <servlet-name>TestServlet2</servlet-name>
    <servlet-class>scope.TestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet2</servlet-name>
    <url-pattern>/ts2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InTagTestServlet</display-name>
    <servlet-name>InTagTestServlet</servlet-name>
    <servlet-class>tag.InTagTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InTagTestServlet</servlet-name>
    <url-pattern>/intag.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTestServlet</display-name>
    <servlet-name>SessionTestServlet</servlet-name>
    <servlet-class>session.SessionTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTestServlet</servlet-name>
    <url-pattern>/s.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutProcessServlet</display-name>
    <servlet-name>LogOutProcessServlet</servlet-name>
    <servlet-class>session.LogOutProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutProcessServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
</web-app>